src/main/resources/wsdl/EXISTEPP.wsdl

<?xml version="1.0" ?>
<!--  root element wsdl:definitions defines set of related services 
  --> 
<wsdl:definitions name="EXISTEPP" targetNamespace="http://ouaf.oracle.com/spl/XAIXapp/xaiserver/EXISTEPP" xmlns:xai="http://ouaf.oracle.com/spl/XAIXapp/xaiserver/EXISTEPP" xmlns:ns1="http://oracle.com/EXISTEPP.xsd" xmlns:ns2="http://oracle.com/EXISTEPP.xsd" xmlns:ouaf="http://ouaf.oracle.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!-- 
 wsdl:types encapsulates schema definitions of communication types;
       here using xsd 

  --> 
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ouaf="http://ouaf.oracle.com/" targetNamespace="http://ouaf.oracle.com/" elementFormDefault="unqualified">
<xsd:element name="Fault">
<xsd:complexType>
<xsd:all>
  <xsd:element name="ResponseStatus" type="xsd:string" /> 
  <xsd:element name="ResponseCode" type="xsd:int" /> 
  <xsd:element name="ResponseText" type="xsd:string" /> 
<xsd:element name="ResponseData" minOccurs="0">
<xsd:complexType>
  <xsd:attribute name="parm1" type="xsd:string" /> 
  <xsd:attribute name="parm2" type="xsd:string" /> 
  <xsd:attribute name="parm3" type="xsd:string" /> 
  <xsd:attribute name="parm4" type="xsd:string" /> 
  <xsd:attribute name="parm5" type="xsd:string" /> 
  <xsd:attribute name="parm6" type="xsd:string" /> 
  <xsd:attribute name="parm7" type="xsd:string" /> 
  <xsd:attribute name="parm8" type="xsd:string" /> 
  <xsd:attribute name="parm9" type="xsd:string" /> 
  <xsd:attribute name="text" type="xsd:string" /> 
  <xsd:attribute name="category" type="xsd:string" /> 
  <xsd:attribute name="numParm" type="xsd:int" /> 
  <xsd:attribute name="number" type="xsd:int" /> 
  </xsd:complexType>
  </xsd:element>
<xsd:element name="ServerMessage" minOccurs="0">
<xsd:complexType>
<xsd:all>
  <xsd:element name="Category" type="xsd:string" /> 
  <xsd:element name="Number" type="xsd:string" /> 
  <xsd:element name="CallSequence" type="xsd:string" /> 
  <xsd:element name="ProgramName" type="xsd:string" /> 
  <xsd:element name="Text" type="xsd:string" /> 
  <xsd:element name="Description" type="xsd:string" /> 
  <xsd:element name="Table" type="xsd:string" /> 
  <xsd:element name="Field" type="xsd:string" /> 
  </xsd:all>
  </xsd:complexType>
  </xsd:element>
  </xsd:all>
  </xsd:complexType>
  </xsd:element>
<xsd:simpleType name="money">
  <xsd:restriction base="xsd:decimal" /> 
  </xsd:simpleType>
<xsd:simpleType name="listAction">
<xsd:restriction base="xsd:token">
  <xsd:enumeration value="delete" /> 
  <xsd:enumeration value="add" /> 
  <xsd:enumeration value="update" /> 
  </xsd:restriction>
  </xsd:simpleType>
  </xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ouaf="http://ouaf.oracle.com/" targetNamespace="http://oracle.com/EXISTEPP.xsd" elementFormDefault="qualified">
  <xsd:import namespace="http://ouaf.oracle.com/" /> 
<xsd:element name="EXISTEPP">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="cuenta" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
  <xsd:maxLength value="10" /> 
  </xsd:restriction>
  </xsd:simpleType>
  </xsd:element>
<xsd:element name="existePPActivo" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
  <xsd:maxLength value="1" /> 
  </xsd:restriction>
  </xsd:simpleType>
  </xsd:element>
<xsd:element name="mensajeDeError" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
  <xsd:maxLength value="254" /> 
  </xsd:restriction>
  </xsd:simpleType>
  </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="dateTimeTagFormat" type="xsd:string" fixed="xsd:strict" use="required" /> 
  </xsd:complexType>
  </xsd:element>
  </xsd:schema>
  </wsdl:types>
<!--  wsdl:message elements describe potential transactions 
  --> 
<!--  request EXISTEPPRequest is of type EXISTEPP 
  --> 
<wsdl:message name="EXISTEPPRequest">
  <wsdl:part name="body" element="ns1:EXISTEPP" /> 
  </wsdl:message>
<!--  response EXISTEPPResponse is of type EXISTEPPResponse 
  --> 
<wsdl:message name="EXISTEPPResponse">
  <wsdl:part name="body" element="ns2:EXISTEPP" /> 
  </wsdl:message>
<!--  fault EXISTEPPFault is of type EXISTEPPFault 
  --> 
<wsdl:message name="EXISTEPPFault">
  <wsdl:part name="fault" element="ouaf:Fault" /> 
  </wsdl:message>
<!--  wsdl:portType describes messages in an operation 
  --> 
<wsdl:portType name="EXISTEPPPortType">
<!--  the value of wsdl:operation eludes me 
  --> 
<wsdl:operation name="EXISTEPP">
  <wsdl:input message="xai:EXISTEPPRequest" /> 
  <wsdl:output message="xai:EXISTEPPResponse" /> 
  <wsdl:fault name="fault" message="xai:EXISTEPPFault" /> 
  </wsdl:operation>
  </wsdl:portType>
<!--  wsdl:binding states a serialization protocol for this ar.com.edenor.ocp.service
  --> 
<wsdl:binding name="EXISTEPPSoapBinding" type="xai:EXISTEPPPortType">
<!-- 
 leverage off soap:binding document style @@@(no wsdl:foo pointing at
         the soap binding) 

  --> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
<!-- 
 semi-opaque container of network transport details classed by
         soap:binding above @@@ 

  --> 
<wsdl:operation name="EXISTEPP">
<!--  again bind to SOAP? @@@ 
  --> 
  <soap:operation soapAction="http://ouaf.oracle.com/spl/XAIXapp/xaiserver/EXISTEPP" /> 
<!-- 
 furthur specify that the messages in the wsdl:operation
           "EXISTEPP" use SOAP? @@@ 

  --> 
<wsdl:input>
  <soap:body use="literal" /> 
  </wsdl:input>
<wsdl:output>
  <soap:body use="literal" /> 
  </wsdl:output>
<wsdl:fault name="fault">
  <soap:fault name="fault" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  </wsdl:binding>
<!--  wsdl:ar.com.edenor.ocp.service names a new ar.com.edenor.ocp.service "EXISTEPPService"
  --> 
<wsdl:service name="EXISTEPPService">
  <wsdl:documentation>EXISTEPP version 2: WS de consulta de plan de pago activo</wsdl:documentation> 
<!--  connect it to the binding "EXISTEPPSoapBinding" above 
  --> 
<wsdl:port name="EXISTEPPPort" binding="xai:EXISTEPPSoapBinding">
<!--  give the binding a network address 
  --> 
  <soap:address location="https://caplccb38.pro.edenor:6501/ouaf/XAIApp/xaiserver/EXISTEPP" />
  </wsdl:port>
  </wsdl:service>
  </wsdl:definitions>